* {
    padding: 0px;
    margin: 0;
}

img {
    height: 20vh;
    width: 20vw;
    border-radius: 10%;
    /* animation-name: adie;
            animation-duration: 4s;
            animation-timing-function:initial;
            animation-iteration-count: infinite;
            animation-direction: alternate; */
    /* animation-play-state: paused; */
    animation: adie 4s ease-in 1s infinite alternate-reverse none;
    /* animation: 4s initial infinite alternate ; */
}

.progress {
    background-color: red;
    height: 2.4px;
    width: 1vw;
    animation: probar 2s ease-in 1s;
}

@keyframes probar {
    0% {
        width: 0vw;
    }

    /* 50%{
                width: 50vw;
            } */
    100% {
        width: 100vw;
    }

}

@keyframes adie {
    from {
        width: 20vw;
        height: 40vh;
    }

    to {
        width: 50vw;
        height: 90vh;
    }
}